.table.table-striped.table-bordered {
    margin: auto;
    width:55%;
    height:100%;
}

#maintable {
     background-color: slateblue;
     color:white;
 }
#maintable th{
    text-align:center;
    font-size:75%;
}
#body tr:nth-child(even) {
    background-color: #2e6da4;
}
#example tr:nth-child(5n+5){
    background-color: #ff0000;
}